<h1>main layout</h1>


<p>Urls</p>

<ul>
    <li><a href="{{ path('first_demo') }}">First route</a></li>
    <li><a href="{{ path('second_demo') }}">Second route</a></li>
    <li><a href="{{ path('third_demo') }}">Third route</a></li>
    <li><a href="{{ path('fourth_demo') }}">Fourth route</a></li>
    <li><a href="{{ path('fifth_demo') }}">Fifth route</a></li>

</ul>


{% block some_content %}
{% endblock %}

